.fundo-cinza1 {
    height: 173px;
}
.fundo-cinza2{
    height: 316x;
}

.fundo-amarelo1{
    height: 30px;
}

.fundo-amarelo2{
    height: 30px;
}



.fundo-cinza1{
    background: rgba(131, 245, 239, 0.774);
}

.fundo-cinza2{
    background: rgba(131, 245, 239, 0.774);
}

.fundo-amarelo1{
    background:rgb(169, 247, 227) ;
}

.fundo-amarelo2{
    background: rgb(169, 247, 227) ;
}

